@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.post-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
}
